
html { 
	height: 100% }
      
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family:'Droid Sans';
}

#map {
        height: 360px;
        width: 360px;
		float:left;
        border: solid thin #333;
        margin-bottom: 10px;
		margin-right: 10px;
      }
	  #directionsPanel {
		float:left;
		width: 300px;
		height 300px;
	  }
	  #outputDiv {
		width: 360px;
	  }
	  
dt {
	
}

dd {

}

.logo {
	width:163px;
	height:155px;
	text-indent:-9999px;
	background:url('/img/logo.png');
}


.search-box {
	width:340px;
}

.search-box-live {
	width:440px;
	margin:4px 0 0 0;
}

.search-box label {
	font-size:28px;
}

.search-box-live label {
	font-size:28px;
}

.company-box {
	margin:0 0 0 60px;
	padding:10px;
	background:#cccccc;
}

.product-box {
	background:#eeeecc;
	padding:10px;
	margin:0 0 30px 20px;
}

.footer {
	background-color:#ffc323;
}

.submit {
	float:left;
}

.input {
	float:left;
	width:320px;
}

.search-box-input {
	width:250px;
	height:100px;
	font-size:32px;
}

.search-form input {
	width:300px;
	height:50px;
	font-size:28px;
	color:#999999;
}

.search-box-live input {
	width:300px;
	height:50px;
	font-size:28px;
	color:#999999;
}

.search-button {
	float:left;
	margin:40px 0 0 0;
}

.gobias-logo {
	float:left;
	display:block;
	background:url('/img/gobiaslogo.png');
	width:82px;
	height:82px;
}

.footer p {
	float:left;
	margin:10px 20px 0 200px;
}

iframe {
	border:none;
}