
/* style.css */

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
	  
dt {
	
}

dd {

}

.logo {
	width:163px;
	height:155px;
	text-indent:-9999px;
	background:url('/img/logo.png');
}
